doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    h1 Online Portfolio
    h3(style="text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px #ffffff;font-size: 32px;") Giovanni Delacqua
    .links
      #github
        a(href="https://github.com/JohnOfTheWater", target="_blank")#githubLink
      //h3 Github
      #linkedin
        a(href="https://www.linkedin.com/profile/view?id=135523838&trk=nav_responsive_tab_profile_pic", target="_blank")#linkedinLink
      //h3 Linkedin
      #twitter
        a(href="https://twitter.com/JohnOfTheWater", target="_blank")#twitterLink
      //h3 Twitter

    #projectsWrap
      #pr Projects

      #project1
        .img(style="background:url('/media/4952395-j09ts.jpg');background-size:cover;")
        .title EverN&#11041;de
        .description EverNode is a note taking web application realized in Node.js. MongoDb is used as database. There are also integrated Google Maps geo location features, and NPR Apis.
          .date 03/28/2014
          .run Run
          .code Code
          a(href="http://evernode.delacqua.us", target="_blank").linkr
          a(href="https://github.com/JohnOfTheWater/EverNode", target="_blank").linkc

      #project2
        .img(style="background:url('/media/1780614_732930410059491_712599991_n.jpg');background-size:cover;")
        .title Super Mario Memory
        .description Browser-based logic puzzle game. Makes heavy use of Node.js and jQuery. MongoDB is used to store the players personal hi-scores in a persistent leaderboard!
          .date 03/28/2014
          .run Run
          .code Code
          a(href="http://memorygame.delacqua.us/", target="_blank").linkr
          a(href="https://github.com/JohnOfTheWater/Super_Mario_Memory", target="_blank").linkc

      #project3
        .img(style="background:url('/media/4532395-t2puv.jpg');background-size:cover;")
        .title Recipes_On_Rails
        .description This is a Ruby on Rails recipes Web Application. PostgreSQL is used as database. On the front-end Javascript and JQuery make it visually appealing and easy to use!
          .date 06/27/2014
          .run Run
          .code Code
          a(href="http://r-on-r.herokuapp.com/", target="_blank").linkr
          a(href="https://github.com/JohnOfTheWater/RoR", target="_blank").linkc

      #project4
        .img(style="background:url('/media/9818841-16kln.png');background-size:cover;")
        .title Project-Barter
        .description Some of this It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus.
          .date 03/28/2014
          .run Run
          .code Code
          a(href="http://projectbarter.delacqua.us", target="_blank").linkr
          a(href="http://evernode.delacqua.us:4000", target="_blank").linkc

      #project5
        .img
        .title Responsive-Theme
        .description Some of this It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus.
          .date 03/28/2014
          .run Run
          .code Code
          a(href="http://johnofthewater-responsive.herokuapp.com/", target="_blank").linkr
          a(href="http://evernode.delacqua.us:4000", target="_blank").linkc

      #project6
        .img(style="background:url('/media/7428841-1eiwi.png');background-size:cover;")
        .title CloudTunes
        .description Some of this It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus.
          .date 03/28/2014
          .run Run
          .code Code
          a(href="http://evernode.delacqua.us:4000", target="_blank").linkr
          a(href="http://evernode.delacqua.us:4000", target="_blank").linkc


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main1.js')
