doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Qunit
    link(rel='stylesheet', href='/css/qunit.css')
  body
    #qunit
    #qunit-fixture

    script(src='/js/vendor/qunit.js')
    script(src='/js/source/test.js')

